
.employee-show-div {
    width: 60%;
    margin: 3vw auto;
    padding : 3vw;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 10px 28px -5px rgba(145,145,145,1);
}

.employee-show-div img {
    max-width: 80%;
}
